<% include ../partials/header.ejs %>
<div class="container">
  <h1>My Favorite Games</h1>
  <div class="game">
    <% games.forEach(function(game) { %>
      <h2>
        <a href='/games/<%= game.id%>'><%= game.name %></a>
      </h2>
    <form method='POST' action='/games/<%= game.id %>?_method=DELETE'>
      <input type='submit' value='delete'>
    </form>
    
    <% }); %>
  </div>
  <h2>
    <a href="/games/new">Add a New Game</a>
  </h2>
</div>

<% include ../partials/footer.ejs %>